
html {
    font-family: 'Raleway', sans-serif;
}

#h1-form h1 {
    text-align: center;
    margin: 40px auto;
    color: rgb(0, 29, 14);
}

form {
    /*Apenas para centralizar o form na página*/
    margin: 30px auto;
    width: 400px;

    /*Para ver as bordas do formulário*/
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 1em;

}

form div + div {
    margin-top: 1em;
}

label {
    /*mesmo tamanho e alinhamento das labels*/
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte.
    Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /*Mesmo tamanho para todos os campos de texto*/
    width: 300px;
    height: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
    border-radius: 4px;
}

input:focus, textarea:focus {
    border-color: rgb(63, 63, 63);
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px;
}

button {
    width: 95%;
    height: 30px;
    margin-left: .5em;
    border: none;
    border-radius: 4px;
    background-color: rgb(54, 241, 148);

    transition: 0.2s;
}

button:hover {
    background-color: rgba(54, 241, 147, 0.753);
}